@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-studio-950 text-slate-100;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 17, 26, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(77, 85, 127, 0.4);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 0.6);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
